---
---

/*************************/
/* Etelej - Site Styling */
/************************/

/* Bulma - customized */
@import "_bulma";

/*Syntax Highlighting*/
@import "_syntax";

/* CUSTOM */
body{
	font-size:1.2rem;
}
pre{
	text-align:left;
}
small{
	font-size:0.8rem;
}

/* Highlight overrides */
.highlight {
	border-radius:0;
}
.highlight span.c {
	display:inline;
	white-space:normal;
}

li>code,p>code{
	color: #212F3D;
	font-size: 0.8em;
	color: #A93226;
	font-weight:700;
}

kbd{
	font-size:0.8em;
	background-color: #111;
	color: #fff;
	padding:3px;
	border-radius:3px;
}

.hide{
	display:none;
}

.notification {
	font-size:0.8em;
	padding-top:10px;
	padding-bottom:10px;
}

.box.hide{
	box-shadow: inset 0px 5px 15px #ababab;
}

#meta a{
	white-space:nowrap;
	font-size:0.7em;
	opacity:0.5;
	margin:0 10px;
}
#meta a:hover{
	opacity:1;
}

