          {% if site.footer-links.twitter %}<a href="http://twitter.com/{{ site.footer-links.twitter }}"><span class='fa fa-twitter-square'></span></a>{% endif %}
          {% if site.footer-links.linkedin %}<a href="http://linkedin.com/in/{{ site.footer-links.linkedin }}"><span class='fa fa-linkedin' ></span></a>{% endif %}
          {% if site.footer-links.dribbble %}<a href="http://dribbble.com/{{ site.footer-links.dribbble }}"><span class='fa fa-dribbble' ></span></a>{% endif %}
          {% if site.footer-links.email %}<a href="mailto: {{ site.footer-links.email }}"><span class='fa fa-inbox' ></span>
</a>{% endif %}
          {% if site.footer-links.facebook %}<a href="http://facebook.com/{{ site.footer-links.facebook }}"><span class='fa fa-facebook-square' ></span></a>{% endif %}
          {% if site.footer-links.rss %}<a href="{{ site.baseurl }}/feed.xml"><span class='fa fa-rss-square' ></span></a>{% endif %}
          {% if site.footer-links.flickr %}<a href="http://flickr.com/{{ site.footer-links.flickr }}"><span class='fa fa-flickr' ></span></a>{% endif %}
          {% if site.footer-links.github %}<a href="http://github.com/{{ site.footer-links.github }}"><span class='fa fa-github' ></span></a>{% endif %}
           {% if site.footer-links.stackoverflow %}<a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}"><span class='fa fa-stack-overflow' title='Stack Overflow'></span></a>{% endif %}
          {% if site.footer-links.instagram %}<a href="http://instagram.com/{{ site.footer-links.instagram }}"><span class='fa fa-instagram' title='Instagram'></span></a>{% endif %}
          {% if site.footer-links.pinterest %}<a href="http://pinterest.com/{{ site.footer-links.pinterest }}"><span class='fa fa-pinterest' ></span></a>{% endif %}
