<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<title>{% if page.thetitle %} {{ page.thetitle }}{% else %}{% if page.title %}{{ page.title }} &bull; {{ site.description }}{% else %}{{ site.description }} &bull; {{site.name}}{% endif %}{% endif %}</title>
		{% if page.title %} <meta name="description" content="{{ page.title }}: {{page.subtitle}}"> 
		{% else %} <meta name="description" content="{% if page.title %}{{ content |strip_newlines |strip_html |replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '| truncatewords:64 }} {% else %}{{ site.description }}{% endif %}">{% endif %}
		<meta name="author" content="Peter Etelej">
		<meta name="theme-color" content"#dbdbdb">
		<link rel="manifest" href="/manifest.json">
		<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
		<link rel="alternate" type="application/rss+xml" href="https://peteretelej.github.io/feed.xml" />
		<meta name="og:url" content="{{ site.url }}{{ page.url }}" />
		<meta name="og:site_name" content="Let's Talk Code" />
		<meta name="og:title" content="{% if page.title %}{{ page.title }} | {{ site.description }}{% else %}{{ site.name }} | {{ site.description }}{% endif %}">
		{% if page.title %} <meta name="og:description" content="{{ page.title }}: {{page.subtitle}}"> 
		{% else %} <meta name="og:description" content="{% if page.title %}{{ content |strip_newlines |strip_html |replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '| truncatewords:64 }} {% else %}{{ site.description }}{% endif %}">
		{% endif %} {% if page.noindex %}<meta name="robots" content="noindex">{% endif %}
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@peteretelej">
		<meta name="twitter:creator" content="peteretelej">
		<meta name="twitter:title" content="{% if page.title %}{{ page.title }} | {{ site.description }}{% else %}{{ site.name }} | {{ site.description }}{% endif %}">
		{% if page.title %}<meta name="twitter:description" content="{{ page.title }}: {{page.subtitle}} via @peteretelej"> {% endif %}
		{% if page.thumbnail %} <meta name="og:image" content="{{ page.thumbnail }}" />
		<meta name="twitter:image" content="{{ page.thumbnail }}" />
		{% endif %}
		<link rel='icon' href="{{ site.baseurl }}/favicon.ico" />
		<link rel="sitemap" href="/sitemap.xml" />
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
	</head>
	<body id="app">
		<div class="navbar" role="navigation" aria-label="main navigation">
			<div class="container">
				<div class="navbar-brand">
					<a class="navbar-item" href="https://peteretelej.github.io">
						Let's Talk Code
					</a>

					<button class="button navbar-burger" data-target="navMenu">
						<span></span>
						<span></span>
						<span></span>
					</button>
				</div><!--/.navbar-brand-->
				<div class="navbar-menu" id="navMenu">
					<div class="navbar-start">
					</div><!--/.navbar-start-->
					<div class="navbar-end">
						<a class="navbar-item" href="https://github.com/peteretelej" target="_blank" rel="noopener">
							<span class="icon" style="color: #777;">
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 32 32">
									<path fill="#777" d="M16 0.395c-8.836 0-16 7.163-16 16 0 7.069 4.585 13.067 10.942 15.182 0.8 0.148 1.094-0.347 1.094-0.77 0-0.381-0.015-1.642-0.022-2.979-4.452 0.968-5.391-1.888-5.391-1.888-0.728-1.849-1.776-2.341-1.776-2.341-1.452-0.993 0.11-0.973 0.11-0.973 1.606 0.113 2.452 1.649 2.452 1.649 1.427 2.446 3.743 1.739 4.656 1.33 0.143-1.034 0.558-1.74 1.016-2.14-3.554-0.404-7.29-1.777-7.29-7.907 0-1.747 0.625-3.174 1.649-4.295-0.166-0.403-0.714-2.030 0.155-4.234 0 0 1.344-0.43 4.401 1.64 1.276-0.355 2.645-0.532 4.005-0.539 1.359 0.006 2.729 0.184 4.008 0.539 3.054-2.070 4.395-1.64 4.395-1.64 0.871 2.204 0.323 3.831 0.157 4.234 1.026 1.12 1.647 2.548 1.647 4.295 0 6.145-3.743 7.498-7.306 7.895 0.574 0.497 1.085 1.47 1.085 2.963 0 2.141-0.019 3.864-0.019 4.391 0 0.426 0.288 0.925 1.099 0.768 6.354-2.118 10.933-8.113 10.933-15.18 0-8.837-7.164-16-16-16z"></path>
								</svg>
							</span>
						</a>
						<a class="navbar-item" href="https://www.linkedin.com/in/peteretelej/" target="_blank" rel="noopener">
							<span class="icon" style="color: #1A5276;">
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 32 32">
									<path fill="#1A5276" d="M29 0h-26c-1.65 0-3 1.35-3 3v26c0 1.65 1.35 3 3 3h26c1.65 0 3-1.35 3-3v-26c0-1.65-1.35-3-3-3zM12 26h-4v-14h4v14zM10 10c-1.106 0-2-0.894-2-2s0.894-2 2-2c1.106 0 2 0.894 2 2s-0.894 2-2 2zM26 26h-4v-8c0-1.106-0.894-2-2-2s-2 0.894-2 2v8h-4v-14h4v2.481c0.825-1.131 2.087-2.481 3.5-2.481 2.488 0 4.5 2.238 4.5 5v9z"></path>
								</svg>
							</span>
						</a>
						<a class="navbar-item" href="https://twitter.com/peteretelej" target="_blank" rel="noopener">
							<span class="icon" style="color:#2980B9">
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 32 32">
									<path fill="#2980B9"d="M32 7.075c-1.175 0.525-2.444 0.875-3.769 1.031 1.356-0.813 2.394-2.1 2.887-3.631-1.269 0.75-2.675 1.3-4.169 1.594-1.2-1.275-2.906-2.069-4.794-2.069-3.625 0-6.563 2.938-6.563 6.563 0 0.512 0.056 1.012 0.169 1.494-5.456-0.275-10.294-2.888-13.531-6.862-0.563 0.969-0.887 2.1-0.887 3.3 0 2.275 1.156 4.287 2.919 5.463-1.075-0.031-2.087-0.331-2.975-0.819 0 0.025 0 0.056 0 0.081 0 3.181 2.263 5.838 5.269 6.437-0.55 0.15-1.131 0.231-1.731 0.231-0.425 0-0.831-0.044-1.237-0.119 0.838 2.606 3.263 4.506 6.131 4.563-2.25 1.762-5.075 2.813-8.156 2.813-0.531 0-1.050-0.031-1.569-0.094 2.913 1.869 6.362 2.95 10.069 2.95 12.075 0 18.681-10.006 18.681-18.681 0-0.287-0.006-0.569-0.019-0.85 1.281-0.919 2.394-2.075 3.275-3.394z"></path>
								</svg>
							</span>
						</a>
						<div class="navbar-item">
							<svg id="kenyan-flag" style="opacity: 0.5; border-radius: 3px; overflow: scroll;"
			     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 512 512">
								<defs>
								<path id="a" stroke-miterlimit="10" d="M-28.6 47.5l1.8 1 46.7-81c2.7-.6 4.2-3.2 5.7-5.8 1-1.8 5-8.7 6.7-17.7a58 58 0 0 0-11.9 14.7c-1.5 2.6-3 5.2-2.3 7.9z"/>
								</defs>
								<path fill="#fff" d="M0 0h512v512H0z"/>
								<path d="M0 0h512v153.6H0z"/>
								<path fill="#060" d="M0 358.4h512V512H0z"/>
								<g id="b" transform="matrix(3.2 0 0 3.2 255.8 256)">
								<use width="100%" height="100%" stroke="#000" xlink:href="#a"/>
								<use width="100%" height="100%" fill="#fff" xlink:href="#a"/>
								</g>
								<use width="100%" height="100%" transform="matrix(-1 0 0 1 511.7 0)" xlink:href="#b"/>
								<path fill="#b00" d="M255.8 102.4c-19.2 0-51.2 51.2-60.8 76.8H0v153.6h195c9.7 25.6 41.7 76.8 60.9 76.8 19.2 0 51.2-51.2 60.8-76.8H512V179.2H316.6c-9.6-25.6-41.6-76.8-60.8-76.8z"/>
								<path id="c" d="M316.6 332.8a220 220 0 0 0 16-76.8 220 220 0 0 0-16-76.8 220 220 0 0 0-16 76.8 220 220 0 0 0 16 76.8"/>
								<use width="100%" height="100%" transform="matrix(-1 0 0 1 511.7 0)" xlink:href="#c"/>
								<g fill="#fff" transform="matrix(3.2 0 0 3.2 255.8 256)">
								<ellipse rx="4" ry="6"/>
								<path id="d" d="M1 5.8s4 8 4 21-4 21-4 21z"/>
								<use width="100%" height="100%" transform="scale(-1)" xlink:href="#d"/>
								<use width="100%" height="100%" transform="scale(-1 1)" xlink:href="#d"/>
								<use width="100%" height="100%" transform="scale(1 -1)" xlink:href="#d"/>
								</g>
							</svg>
						</div>

					</div><!--/.navbar-end-->
				</div><!--/.navbar-menu-->
			</div><!--/.container-->
		</div>


		<!-- content -->
		{{ content }}


		<div class="footer">
			<div class="container">
				<div class="content has-content-centered">
					<p>&copy; {{ site.time | date: '%Y' }} <a href='https://etelej.com' rel='me'>etelej.com</a> &middot; <a href="/about">about</a></p>
				</div>
			</div>
		</div><!--/.footer-->

		{% include thirdpartyjs.html %}
		<script src="{{site.baseurl}}/assets/js/main.js"></script>
		<script>
if (navigator.serviceWorker){
	window.addEventListener('load',function(event){
		if (!navigator.serviceWorker.controller){
			navigator.serviceWorker.register("/sw.js")
		}
	})
}
		</script>
	</body>
</html>
