<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<title>{% if page.thetitle %} {{ page.thetitle }}{% else %}{% if page.title %}{{ page.title }} &bull; {{ site.description }}{% else %}{{ site.description }} &bull; {{site.name}}{% endif %}{% endif %}</title>
		<!-- SEO -->
		<meta name="author" content="Peter Etelej">
		{% if page.title %}<link rel="canonical" href="{{ site.url }}{{ page.url }}" />{% endif %}
		<link rel="publisher" href="https://plus.google.com/+PeterEtelej/posts"/>
		{% if page.pagedescription %}<meta name="description" content="{{ page.pagedescription }}">
		{% else %}<meta name="description" content="{% if page.title %}{{ content |strip_newlines |strip_html |replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '| truncatewords:64 }} &bull; {% endif %}{{ site.name }} – {{ site.description }}">
		{% endif %}
		{% if page.noindex %}<meta name="robots" content="noindex">{% endif %}

		<!-- Twitter Meta -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@peteretelej">
		<meta name="twitter:creator" content="peteretelej">
		<meta name="twitter:title" content="{% if page.title %}{{ page.title }} &bull; {{ site.description }}{% else %}{{ site.name }} &bull; {{ site.description }}{% endif %}">

		{% if page.pagedescription %}
		<meta name="twitter:description" content="{{ page.pagedescription }}">
		{% else %}
		<meta name="twitter:description" content="{% if page.title %}{{ content |strip_html|strip_newlines||replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '|replace:'  ',' '| truncate:160 }} by {% endif %}{{ site.name }} on {{ site.description }}">
		{% endif %}
		{% if page.thumbnail %}<meta name="twitter:image" content="{{ page.thumbnail }}" />{% endif %}

		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link rel='icon' href="{{ site.baseurl }}/favicon.ico" />
		<link rel='icon' href="{{ site.baseurl }}/favicon.ico" />
		<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
		<link rel="sitemap" href="/sitemap.xml" />
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
		<script src="{{site.baseurl}}/assets/js/axios.min.js"></script>
		<script src="{{site.baseurl}}/assets/js/vue.min.js"></script>
	</head>
	<body>
		<div class="navbar" role="navigation" aria-label="main navigation">
			<div class="container">
				<div class="navbar-brand">
					<a class="navbar-item" href="https://peteretelej.github.io">
						Let's Talk Code
					</a>

					<button class="button navbar-burger" data-target="navMenu">
						<span></span>
						<span></span>
						<span></span>
					</button>
				</div><!--/.navbar-brand-->
				<div class="navbar-menu" id="navMenu">
					<div class="navbar-start">
					</div><!--/.navbar-start-->
					<div class="navbar-end">
						<a class="navbar-item" href="https://github.com/peteretelej" target="_blank" rel="noopener">
							<span class="icon" style="color: #777;">
								<i class="fa fa-lg fa-github"></i>
							</span>
						</a>
						<a class="navbar-item" href="https://www.linkedin.com/in/peteretelej/" target="_blank" rel="noopener">
							<span class="icon" style="color: #1A5276;">
								<i class="fa fa-lg fa-linkedin"></i>
							</span>
						</a>
						<a class="navbar-item" href="https://twitter.com/peteretelej" target="_blank" rel="noopener">
							<span class="icon" style="color: #2980B9;">
								<i class="fa fa-lg fa-twitter"></i>
							</span>
						</a>
					</div><!--/.navbar-end-->
				</div><!--/.navbar-menu-->
			</div><!--/.container-->
		</div>


		<!-- content -->
		<div class="section">
			<div class="container">
				{{ content }}
			</div><!--/.container-->
		</div><!--/.section-->



		<div class="footer">
			<div class="container">
				<div class="content has-content-centered">
					<p>&copy; {{ site.time | date: '%Y' }} <a href='https://etelej.com' rel='me'>etelej.com</a></p>
				</div>
			</div>
		</div><!--/.footer-->

		{% include thirdpartyjs.html %}
		<script src="{{site.baseurl}}/assets/js/main.js"></script>
		<script>
			if (navigator.serviceWorker){
				if (!navigator.serviceWorker.controller){
					navigator.serviceWorker.register("/sw.js")
				}
			}
		</script>
	</body>
</html>
