---
layout: default
---

<div class="columns">
	<div class="column is-8">
		{{ content }}
	</div><!--/.column-->

	<div class="column is-4">
		<div class="card">
			<div class="card-content">
				<div class="media">
					<div class="media-left">
						<figure class="image is-96x96">
							<img src="{{site.avatar}}" alt="Placeholder image">
						</figure>
					</div>
					<div class="media-content">
						<h5 class="title is-5">Hi, I'm Peter</h5>
						<p class="subtitle is-6"><a href="https://twitter.com/peteretelej">@peteretelej</a></p>
						<div class="content">
							<p>I am a software & web developer based in Nairobi, Kenya.</p>
						</div><!--/.content-->

					</div><!--/.media-content-->
				</div><!--/.media-->
			</div><!--/.card-content-->
		</div><!--/.card-->
	</div><!--/.column-->
</div><!--/.columns-->

