---
layout: default
---

<div class="columns">
	<div class="column is-3">
		<div class="card">
			<div class="card-content">
				<div class="media">
					<div class="media-left">
						<figure class="image is-48x48">
							<img src="{{site.avatar}}" alt="Placeholder image">
						</figure>
					</div>
					<div class="media-content">
						<p class="title is-4">Hi, I'm Peter</p>
						<p class="subtitle is-6"><a href="https://twitter.com/peteretelej">@peteretelej</a></p>
					</div><!--/.media-content-->
				</div><!--/.media-->
				<div class="content">
					<p>I am a developer based in Nairobi, Kenya.</p>
				</div><!--/.content-->
			</div><!--/.card-content-->
		</div><!--/.card-->
	</div><!--/.column-->
	<div class="column is-9">
		{{ content }}
	</div><!--/.column-->
</div><!--/.columns-->

