---
layout: default
---
<div class="hero is-info is-bold">
	<div class="hero-body">
		<div class="container">
			<div class="columns is-centered">
				<div class=" column is-11">
					<h1 class="title">
						{{page.title}}
					</h1>
					<h2 class="subtitle">
						{{page.subtitle}}
					</h2>
				</div>
			</div><!--/.columns-->
		</div><!--/.container-->
	</div><!--/.hero-body-->
</div><!--/.hero-->

<div class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-11">
				<div class="content">
					{{.content}}
					<p class="tag">{{page.date |date:"%B %e, %Y" }}</p>
				</div><!--/.content-->
			</div><!--/.column-->
		</div><!--/.column-->
	</div><!--/.container-->
</div><!--/.section-->
